<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/feedback.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/tabs.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

<div class="codrops-top">
    <div style="text-align: right;padding-right: 10px;">
        <a href="{{url_for('logout',filename='index.html')}}">Logout </a>

    </div>
</div>

<div class="container">
    <header >
        <h1> <strong>Course Selector</strong></h1>
        <h2>A tool to help you select your courses</h2>
    </header>
</div>

<!--<div class="tabs">-->

<form class="register">

    <ul class="tab-links">
        <li class="active"><a href="{{url_for('home', email = 'admin')}}" >Home</a></li>
        <li class="active"><a href="{{url_for('feedback')}}">Feedback</a></li>
        <li ><a href="{{url_for('planner')}}">Planner</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab active">

            <fieldset class="row2">

                <div class ="CSSTableGenerator">
                    <table>


                        <tr><td>Courses Name</td>
                            <td>Rating</td>
                        </tr>

                        {% for course in courses %}
                        <tr><td>{{course.name|safe}}</td>

                            <td>
                                <div class="stars">

                                    <input type="radio" name="star" class="star-1" id="star-1" />
                                    <label class="star-1" for="star-1">1</label>
                                    <input type="radio" name="star" class="star-2" id="star-2" />
                                    <label class="star-2" for="star-2">2</label>
                                    <input type="radio" name="star" class="star-3" id="star-3" />
                                    <label class="star-3" for="star-3">3</label>
                                    <input type="radio" name="star" class="star-4" id="star-4" />
                                    <label class="star-4" for="star-4">4</label>
                                    <input type="radio" name="star" class="star-5" id="star-5" />
                                    <label class="star-5" for="star-5">5</label>
                                    <span></span>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</form>



</body>
</html>