<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../static/css/default.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

    <style>
        ::-webkit-input-placeholder { font-size: 11px;text-align: center }
        ::-moz-placeholder { font-size: 11px;text-align: center  } /* firefox 19+ */
        :-ms-input-placeholder { font-size: 11px; text-align: center } /* ie */
        input:-moz-placeholder { font-size: 11px;text-align: center  }
    </style>

</head>
<body>

<div class="container">
    <header >
        <h1> <strong>Course Selector</strong></h1>
        <h2>A tool to help you select your courses</h2>
    </header>
</div>
<form action="{{url_for('homepage')}}" method="post" class="register">
    <div id="wrapper">
<label class="heading">Registration</label>
<fieldset class="row1">
    <legend>Account Details
    </legend>
    <p>
        <label for="email">Email *
        </label>
        <input type="text" name="email" required=""/>
        <label>Repeat email *
        </label>
        <input type="text" required=""/>
    </p>
    <p>
        <label>Password*
        </label>
        <input type="text" name="password" required=""/>
        <label>Repeat Password*
        </label>
        <input type="text" required=""/>
        <label class="obinfo">* mandatory fields
        </label>
    </p>
</fieldset>
<fieldset class="row2">
    <legend>Personal Details
    </legend>
    <p>
        <label>Title *
        </label>

        <select style="width: 50px;">
            <option value="Mr" selected>Mr</option>
            <option value="Miss">Miss</option>
            <option value="Mrs">Mrs</option>
            <option value="Other">Other</option>
        </select>

    </p>
    <p>
        <label>Name *
        </label>
        <input  type="text" name="first_name" maxlength="30" style="width: 100px" placeholder="First Name" required="">
        <input  type="text" name="middle_name" maxlength="30" style="width: 100px" placeholder="Middle Name">
        <input  type="text" name="last_name" maxlength="30" style="width: 100px" placeholder="Last Name">

    </p>
    <p>
        <label>Gender *</label>
        <input type="radio" value="radio" name="sex" required=""/>
        <label class="gender">Male</label>
        <input type="radio" value="radio" name="sex" required=""/>
        <label class="gender">Female</label>
    </p>

    <p>
        <label>Street
        </label>
        <input type="text" class="long"/>
    </p>
    <p>
        <label>City
        </label>
        <input type="text" class="long"/>
    </p>
    <p>
        <label>State
        </label>
        <select>
            <option>
            </option>
            <option value="1" selected>MD
            </option>
        </select>
    </p>
    <p>
        <label>Country
        </label>
        <select>
            <option>
            </option>
            <option value="1" selected>United States
            </option>
        </select>
    </p>

    <p>
        <label>Birthdate *</label>
        <input type="text" id="datepicker" placeholder="mm/dd/yyyy" required="">
    </p>

</fieldset>

<fieldset class="row3">
    <legend>Academic Details
    </legend>
    <p>
        <label>Degree *
        </label>

        <select style="width:90px;">
            <option value="bachelors">Bachelor's</option>
            <option value="masters" selected>Master's</option>
        </select>
    </p>

    <p>
        <label>Major *
        </label>

        <select id="major" style="width: 250px;">
            {% for major in majors %}
            <option value="{{ major.code }}">{{ major.name|safe }}</option>
            {% endfor %}
        </select>
    </p>



    <p>
        <label>Current Semester *
        </label>

        <select>
            <option value="fall" selected>Fall 2014</option>
            <option value="spring" selected>Spring 2015</option>
        </select>
    </p>

    <p>
        <label>Current courses *
        </label>

        <select id="courses" style="width: 400px;">
            {% for course in courses %}
            <option id="{{ course.code }}" value="{{course.name}}">{{ course.name|safe }}</option>
            {% endfor %}
        </select>
        <input type="button" value="Add" onclick="addToBox();"/>
        <br><br/>
        <textarea id="courseSelected" rows="4" cols="4" style="border: 1px solid #F1F1F1;width: 390px; height: 73px;margin-left: 105px;"></textarea>
    </p>

    <p>
        <label>Interest *
        </label>

        <textarea rows="4" cols="4" style="border: 1px solid #F1F1F1;width:389px; height: 73px;"></textarea>
    </p>
</fieldset>

<div style="padding-left:300px;" ><input  type="submit" value="Continue &raquo;" onclick="registerUser()"></div>
        </div>
</form>
</body>

</html>


<script type="text/javascript">


    function addToBox(){
        var course = document.getElementById("courses").value
        existingC = document.getElementById("courseSelected").value
        //alert(existingC)
        if (! existingC == "") {
            if (!checkifAlreadyAdded(existingC, course)) {
                existingC = existingC + course + "\n";
                document.getElementById("courseSelected").value = existingC
            }

            else
                alert("This course has been added already")
        }else {
            existingC = existingC + course + "\n";
            document.getElementById("courseSelected").value = existingC
        }
    }

    function checkifAlreadyAdded(e,c){
        //alert(e);
        var s = e.split("\n")
        //alert(s.length)
        for(i=0;i<s.length;i++){
            if(s[i] == c)
                return true;
        }
        return false;
    }


</script>




