<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Course Selector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tabs.css"/>
    <script src = "../static/js/jquery.js"></script>
    <style>
        ::-webkit-input-placeholder { font-size: 11px;text-align: center }
        ::-moz-placeholder { font-size: 11px;text-align: center  } /* firefox 19+ */
        :-ms-input-placeholder { font-size: 11px; text-align: center } /* ie */
        input:-moz-placeholder { font-size: 11px;text-align: center  }
    </style>

</head>
<body>

<div class="codrops-top">
    <div style="text-align: right;padding-right: 10px;"><a href="{{url_for('logout',filename='index.html')}}">Logout </a></div>
</div>

<div class="container">
    <header >
        <h1> <strong>Course Selector</strong></h1>
        <h2>A tool to help you select your courses</h2>
    </header>
</div>

<!--<div class="tabs">-->



<form class="register" style="height: 500px;">
    <ul class="tab-links">

        <li><a href="{{url_for('home', email = 'usernames|safe')}}">Home</a></li>
        <li class="active"><a href="{{url_for('feedback')}}">{{username|safe}}Feedback</a></li>
        <li class="active"><a href="{{url_for('planner')}}">Planner</a></li>

                          </ul>
    <div class="tab-content">
            <div id="home" class="tab active">
    {% for stud in studentDtls %}
    <label class="heading1" style="width: 100%;text-align: center">Welcome {{stud.name|safe}}</label>



    <fieldset class="row2" >
        <legend style="font-size: 20px">Your Profile
        </legend>
        <p>
            <label>Degree :
            </label>

            <label style="width: 200px;text-align: left">{{stud.degree|safe}}
            </label>
        </p>

        <p>
            <label>Major :
            </label>

            <label style="width: 200px;text-align: left">{{stud.major|safe}}
            </label>
        </p>

        <p>
            <label>Academic Year :
            </label>

            <label style="width: 200px;text-align: left">{{stud.ay|safe}}
            </label>
        </p>
        {% endfor %}
        <p>

                    <input type="button" id = "edit" style="float:right;padding: 10px;" value="Add course"/>
                    <input type="button" id = "saveBtn" style="float:right;padding: 10px;" value="Save changes" onclick="updateCourses()"/>

                </p>


                <p>
        <legend style="text-align: center;">Courses Taken
            </legend>
        <div class ="CSSTableGenerator">
            <table id="courseTable">


                <tr><td>Courses Name</td>
                    <td>Semester</td>
                    <td>Action</td>
                </tr>

                {% for course in courses %}
                        <tr><td>{{course.name|safe}}</td>
                            <td>{{course.semester|safe}}</td>
                            <td><img src="../static/images/delete-24.jpg" alt="Click to delete course" class="deleteBtn"/></td>
                        </tr>
                {% endfor %}
            </table>
        </div>


        </p>

    </fieldset>


                </div>
            </div>

</form>

    <!--</div>-->

</body>

</html>


<script type="text/javascript">


    function addToBox(){
        var course = document.getElementById("courses").value
        existingC = document.getElementById("courseSelected").value
        //alert(existingC)
        if (! existingC == "") {
            if (!checkifAlreadyAdded(existingC, course)) {
                existingC = existingC + course + "\n";
                document.getElementById("courseSelected").value = existingC
            }

            else
                alert("This course has been added already")
        }else {
            existingC = existingC + course + "\n";
            document.getElementById("courseSelected").value = existingC
        }
    }

    function Add(){
        jQuery("#courseTable tbody").append( "<tr>"+ "<td><select id='courses' style='width: 400px;' name = 'course'>{% for course in allcourses %}<option id='{{ course.code }}' value='{{course.name}}'>{{ course.name|safe }}</option>{% endfor %}</select></td>"+ "<td><select name='semester'><option value='Fall 2014' selected>Fall 2014</option><option value='Spring 2015'>Spring 2015</option></select></td>"+ "<td><img src='../static/images/save_icon.gif' class='doneBtn' alt='Click to Save'> </td>"+ "</tr>");

    }

    function Delete(){
        var par = $(this).parent().parent(); //tr
        r = confirm("Are you sure you want to remove this course?")
        if (r) {
            par.remove();
        }

    }

    function Save(){


            var inputValue = $(this).closest("tr").find("[name='course']").val();
            var selectValuse = $(this).closest("tr").find("[name='semester']").val();
            var index = $(this).closest("tr").index();
            alert(inputValue + selectValuse + index)


    }

    jQuery(function(){
        jQuery("#edit").bind("click", Add);
        jQuery(".deleteBtn").bind("click",Delete);
        jQuery(".doneBtn").bind("click", Save);
    });



</script>




